@-webkit-viewport
{
    width: device-width;
}

@-moz-viewport
{
    width: device-width;
}

@-ms-viewport
{
    width: device-width;
}

@-o-viewport
{
    width: device-width;
}

@viewport
{
    width: device-width;
}

/* Option 2A: Reset an entire region via CSS */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.theme-fate-deck
{
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.footer
{
    position: relative;
    margin-top: -8rem;
    height: 8rem;
    clear: both;
    padding: 1rem;
}
