@{
    ViewBag.Title = "About";
}
<div data-bind="visible: ShowEncouter" class="row">
    <div class="col-md-12">
        <p>Fate Deck is a Standard Deployment Generator for <a href="http://wyrd-games.net/community/page/Games/malifaux_2e.html">Malifaux</a>, enjoy if you have any issues <a href="http://aaronsprague.com/blog/contact.aspx">contact</a> me and let me know.</p>
        <p>Cheers,</p>
        <p>Aaron Sprague</p>
    </div>
</div>
