@{
    ViewBag.Title = "Standard Encounter";
}
<div data-bind="visible: ShowEncouter" class="row">
    <div class="col-md-4">
        <h2>Deployment <small data-bind="text: Deployment.Name" class="text-right"></small></h2>
        <p data-bind="text: Deployment.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Strategy <small class="text-right" data-bind="text: Strategy.Name"></small></h2>
        <dl>
            <dt>Setup</dt>
            <dd data-bind="html: Strategy.Setup"></dd>
            <dt>Victory Points</dt>
            <dd data-bind="html: Strategy.VictoryPoints"></dd>
        </dl>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="text: Scheme1.Name"></small></h2>
        <p data-bind="html: Scheme1.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr data-bind="visible: ShowEncouter" class="hidden-xs hidden-sm" />
<div data-bind="visible: ShowEncouter" class="row">
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="text: Scheme2.Name"></small></h2>
        <p data-bind="html: Scheme2.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="text: Scheme3.Name"></small></h2>
        <p data-bind="html: Scheme3.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="text: Scheme4.Name"></small></h2>
        <p data-bind="html: Scheme4.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr data-bind="visible: ShowEncouter" class="hidden-xs hidden-sm" />
<div data-bind="visible: ShowEncouter" class="row">
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="text: Scheme5.Name"></small></h2>
        <p data-bind="html: Scheme5.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr data-bind="visible: ShowEncouter" class="hidden-xs hidden-sm" />
<div class="row">
    <div class="col-xs-12">
        <button type="button" data-bind="click: Flip, visible: ShowEncouter" data-loading-text="Loading..." class="btn btn-primary btn-lg col-xs-12">
            Flip Again
        </button>
        <div data-bind="visible: Loading" class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>
