@{
    ViewBag.Title = "Standard Encounter";
}
<div class="row">
    <div class="col-md-4">
        <h2>Deployment <small data-bind="Value: Deployment.Name" class="text-right"></small></h2>
        <p data-bind="Value: Deployment.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Strategy <small class="text-right" data-bind="Value: Strategy.Name"></small></h2>
        <dl>
            <dt>Setup</dt>
            <dd data-bind="Value: Strategy.Setup"></dd>
            <dt>Victory Points</dt>
            <dd data-bind="Value: Strategy.VictoryPoints"></dd>
        </dl>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="Value: Scheme1.Name"></small></h2>
        <p data-bind="Value: Scheme1.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr class="hidden-xs hidden-sm" />
<div class="row">
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="Value: Scheme2.Name"></small></h2>
        <p data-bind="Value: Scheme2.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="Value: Scheme3.Name"></small></h2>
        <p data-bind="Value: Scheme3.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="Value: Scheme4.Name"></small></h2>
        <p data-bind="Value: Scheme4.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr class="hidden-xs hidden-sm" />
<div class="row">
    <div class="col-md-4">
        <h2>Scheme <small class="text-right" data-bind="Value: Scheme5.Name"></small></h2>
        <p data-bind="Value: Scheme5.Description"></p>
        <hr class="hidden-lg hidden-md" />
    </div>
</div>
<hr class="hidden-xs hidden-sm" />
<div class="row">
    <div class="col-xs-12">
        <button type="button" data-bind="click: FlipAgain" data-loading-text="Loading..." class="btn btn-primary btn-lg col-xs-12">
            Flip Again
        </button>
    </div>
</div>
